package profile

type User struct {
	FirstName string
	LastName  string
	Email     string
}

templ Index(user User) {
	<h1>User profile page {user.Email}</h1>
	<h1>{user.Email}</h1>
	<h1>{user.LastName}</h1>
}