package dashboard

func userEmail(ctx context.Context) string {
	email, ok := ctx.Value("email").(string)
	if !ok {
		return ""
	}
	return email
}

templ foo(email string) {
	<h1>{email}</h1>
}

templ Index() {
	if len(userEmail(ctx)) > 0 {
		<h1>Dashboard page!</h1>
		@foo(userEmail(ctx))
	} else {
		<h1>help</h1>
	}
}